* {
    background-color:peachpuff;
    font-family: monospace;
    color: slategray;   
}

header {
    font-size: xx-large;
    font-weight: 700;
}

.display {
    display: flex;
    flex-direction: column;
    margin: 25px;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.control-panel {
    display: flex;
    gap: 10px;
}

.core {
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    border-style: solid;
    border-color:darkslategray;
    height: 360px;
    width: 360px;
}

.grid {
    border-style:dashed;
    border-width: 1px;
    border-color: peru;
    margin: 0px;
    background-color: white;
}

